<div class="plan123">
    <div class="plan ">
      <!--<h3 class="plan-title">
        Starter
      </h3> -->
      <div class="plan-cost"><span class="plan-price">Rs 149</span><span class="plan-type">/ Monthly</span></div>
      <ul class="plan-features">
        <li><i class="ion-checkmark"> </i> Unlimited Calling other FastCOnn networks </li>
        <li><i class="ion-checkmark"> </i> Rs 149 Free other network</li>
        <li><i class="ion-checkmark"> </i>Night free calling 10pm-6am</li>
  
      </ul>
      <div class="plan-select"><a href="">Select Plan</a></div>
    </div>
    <div class="plan featured">
     <!--- <h3 class="plan-title">
        Basic
      </h3> -->
      <div class="plan-cost"><span class="plan-price">Rs 199</span><span class="plan-type">/ Monthly</span></div>
      <ul class="plan-features">
        <li><i class="ion-checkmark"> </i>Unlimited Calling other FastCOnn networks</li>
        <li><i class="ion-checkmark"> </i> Rs 149 Free other network</li>
        <li> <i class="ion-checkmark"></i> Night free calling 10pm-6am</li>
      </ul>
      <div class="plan-select"><a href="">Select Plan</a></div>
    </div>
    <div class="plan">
      <!--<h3 class="plan-title">
        Professional
      </h3>-->
      <div class="plan-cost"><span class="plan-price"> Rs 339</span><span class="plan-type">/ Monthly</span></div>
      <ul class="plan-features">
        <li><i class="ion-checkmark"> </i>Unlimited any network</li>
        <li><i class="ion-checkmark"> </i> unlimited 24 hours</li>
     
      </ul>
      <div class="plan-select"><a href="">Select Plan</a></div>
    </div>
    <div class="plan featured">
     <!--- <h3 class="plan-title">
        Ultra
      </h3> -->
      <div class="plan-cost"><span class="plan-price">Rs 2090</span><span class="plan-type">/ 12 months</span></div>
      <ul class="plan-features">
        <li><i class="ion-checkmark"> </i>Unlimited Calling other FastCOnn networks</li>
        <li><i class="ion-checkmark"> </i>  Rs 199 Free other network</li>
        <li> <i class="ion-checkmark"></i> Night free calling 10am-6pm</li>
      </ul>
      <div class="plan-select"><a href="">Select Plan</a></div>
    </div>
    <div class="plan">
      <div class="plan-cost"><span class="plan-price">Rs 3455</span><span class="plan-type">/ 12 Months</span></div>
      <ul class="plan-features">
        <li><i class="ion-checkmark"> </i>Unlimited any network</li>
        <li><i class="ion-checkmark"> </i> unlimited 24 hours calling</li>
      </ul>
      <div class="plan-select"><a href="">Select Plan</a></div>
    </div>
  </div>

