<html>

<head>
  <title>Form Validation</title>
</head>
<body>
	<div class="main">
		<h1>Prepaid connection Enrollment form</h1>
		<div class="form1">
		<!--	Registration Form<br>!-->
			<form name="simple" onsubmit="return empty();" method="post" action="Ass1.php">
				<input type="text" id="req1" placeholder="Full name"><br><br>		
				<!--<input type="text" id="req2" placeholder="Lastname"><br><br>-->
				<input type="text" id="req3" placeholder="Email address"><br><br>
				<!--<input type="text" id="req4" placeholder="Contact number" name="phone"><br><br>-->
				<input type="password" id="req5" placeholder="Password"><br>
								D.O.B<br><input type="date" name="bday"><br><br>
	<!--Gender:
	<br>
	<input type="radio" name="gender">Male <input type="radio" name="gender">Female-->
				Gender:
				<select id="selection">
					<option>Gender</option>
					<option>Male</option>
					<option>Female</option>
				</select>
				<br><br>
                <input type="text" id="req4" placeholder="Address"><br><br>
				<input type="submit" value="Submit" onclick="emailValidate(document.getElementById('req3'),'Invalid Email id.'),/*isNumeric(document.getElementById('req4'),'Enter digits in contact no.'),*/Selection(document.getElementById('selection'),'Please select gender')">


			</form>
		</div>	
	</div>


</body>
</html>
