<div class="plan123">
    <div class="plan ">
      <!--<h3 class="plan-title">
        Starter
      </h3> -->
      <div class="plan-cost"><span class="plan-price">Rs 159</span><span class="plan-type">/ Monthly</span></div>
      <ul class="plan-features">
        <li><i class="ion-checkmark"> </i> Unlimited Calls FastConn network /Rs 149 on other networks </li>
        <li><i class="ion-checkmark"> </i>Night free calling 11am-6pm</li>

      </ul>
      <div class="plan-select"><a href="">Select Plan</a></div>
    </div>
    <div class="plan123">
        <div class="plan featured">
          <!--<h3 class="plan-title">
            Starter
          </h3> -->
          <div class="plan-cost"><span class="plan-price">Rs 229</span><span class="plan-type">/ Monthly</span></div>
          <ul class="plan-features">
            <li><i class="ion-checkmark"> </i> Unlimited Calls FastConn network /Rs 229 on other networks </li>
            <li><i class="ion-checkmark"> </i>Night free calling 11am-6pm</li>
          </ul>
          <div class="plan-select"><a href="">Select Plan</a></div>
        </div>
        <div class="plan ">
            <div class="plan-cost"><span class="plan-price">Rs 359</span><span class="plan-type">/ Monthly</span></div>
            <ul class="plan-features">
              <li><i class="ion-checkmark"> </i>Unlimited Calls any network</li>
              <li><i class="ion-checkmark"> </i> Night free calling 11am-6pm</li>
            </ul>
            <div class="plan-select"><a href="">Select Plan</a></div>
          </div>
          <div class="plan featured">
            <div class="plan-cost"><span class="plan-price">Rs 2799</span><span class="plan-type">/ 12 months</span></div>
            <ul class="plan-features">
              <li><i class="ion-checkmark"> </i>Unlimited Calls any network</li>
              <li><i class="ion-checkmark"> </i> 24hours free calls </li>
            </ul>
            <div class="plan-select"><a href="">Select Plan</a></div>
          </div>
        </div>


